<div id="contact">
    <div class="section">
        <div class="section">
            <h1 class="title is-1">
                Let’s talk
            </h1>
            <div class="section is-size-3">
                <div class="columns">
                    <div class="column is-8">
                        If you have a project in mind or interested to hire me, get in touch and let’s get
                        things moving.
                    </div>
                </div>
            </div>
            <div class="section is-size-3">
                <div class="title is-3 has-text-info">
                    <a class="contact-link"
                        href="mailto:kumaranpassion2work@outlook.in">kumaranpassion2work@outlook.in</a>
                </div>
            </div>
            <div class="section">
                <p class="subtitle is-4">
                    Follow me</p>

                <p class="is-size-5">
                    <span class="icon-text has-text-primary">
                        <span class="icon">
                            <i class="fa fa-instagram"></i>
                        </span>
                        <span>
                            <a class="contact-link" target="_blank"
                                href="https://www.instagram.com/master_of_white_web/">@master_of_white_web</a>
                        </span>
                    </span>
                </p>
                <p class="is-size-5">
                    <span class="icon-text has-text-primary">
                        <span class="icon">
                            <i class="fa fa-facebook"></i>
                        </span>
                        <span>
                            <a class="contact-link" target="_blank"
                                href="https://www.facebook.com/d.software.machinist/">@d.software.machinist</a>
                        </span>
                    </span>
                </p>
                <p class="is-size-5">
                    <span class="icon-text has-text-primary">
                        <span class="icon">
                            <i class="fa fa-twitter"></i>
                        </span>
                        <span>
                            <a class="contact-link" target="_blank"
                                href="https://twitter.com/softwrmachinist">@softwrmachinist</a>
                        </span>
                    </span>
                </p>
                <p class="is-size-5">
                    <span class="icon-text has-text-primary">
                        <span class="icon">
                            <i class="fa fa-linkedin"></i>
                        </span>
                        <span>
                            <a class="contact-link" target="_blank"
                                href="https://in.linkedin.com/in/muthukumaran-m">@muthukumaran-m</a>
                        </span>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
