.contact-link {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, black, black 50%, royalblue 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 300ms ease;
}

.contact-link:hover {
    background-position: 0 100%;
}
