<footer class="footer has-background-black">
    <div class="content has-text-centered has-text-white">
        <div class="columns">
            <div class="column">
                <h6 class="title is-5 has-text-white">Muthukumaran Muthiah</h6>
                <p class="subtitle is-5 has-text-center">
                    Full stack web developer
                </p>
            </div>
            <div class="column">
                <ul>
                    <li><a routerLink="/profile">Profile</a></li>
                    <li><a routerLink="/work">Work</a></li>
                    <!-- <li><a routerLink="/insights">Insights</a></li> -->
                    <li><a routerLink="/contact">Contact</a></li>
                </ul>
            </div>
            <hr class="is-hidden-desktop">
            <div class="column">
                <ul>
                    <li><a target="_blank" href="https://www.facebook.com/d.software.machinist/">Facebook</a></li>
                    <li><a target="_blank" href="https://www.instagram.com/itz_me_illusionist/">Instagram</a></li>
                    <li><a target="_blank" href="https://twitter.com/softwrmachinist">Twitter</a></li>
                    <li><a target="_blank" href="https://in.linkedin.com/in/muthukumaran-m">Linkedin</a></li>
                </ul>
            </div>
            <hr class="is-hidden-desktop">
            <div class="column">
                <div>Chennai, TN, India</div>
                <div>kumaranpassion2work@outlook.in</div>
            </div>
        </div>
    </div>
</footer>