<section class="section">
    <div class="columns">
        <div class="column is-8">
            <div class="card">
                <div class="card-content">
                    <p class="title">
                        {{post ? post.title : ""}}.
                    </p>
                    <p class="has-text-weight-light is-size-7">
                        - {{post ? (post.updated | date:'dd.LLLL yyyy @ h:mm a') : ""}}
                    </p>

                    <p class="section" [innerHTML]="post ? post.content : ''">
                    </p>
                    <div class="tags">
                        <span *ngFor="let label of post ? post.labels : []" class="tag">{{label}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="section">
                <p class="subtitle is-4">
                    Follow me</p>

                <p class="is-size-5">
                    <span class="icon-text has-text-primary">
                        <span class="icon">
                            <i class="fa fa-instagram"></i>
                        </span>
                        <span>
                            <a class="highlight-link" target="_blank"
                                href="https://www.instagram.com/master_of_white_web/">@master_of_white_web</a>
                        </span>
                    </span>
                </p>
                <p class="is-size-5">
                    <span class="icon-text has-text-primary">
                        <span class="icon">
                            <i class="fa fa-facebook"></i>
                        </span>
                        <span>
                            <a class="highlight-link" target="_blank"
                                href="https://www.facebook.com/d.software.machinist/">@d.software.machinist</a>
                        </span>
                    </span>
                </p>
                <p class="is-size-5">
                    <span class="icon-text has-text-primary">
                        <span class="icon">
                            <i class="fa fa-twitter"></i>
                        </span>
                        <span>
                            <a class="highlight-link" target="_blank"
                                href="https://twitter.com/softwrmachinist">@softwrmachinist</a>
                        </span>
                    </span>
                </p>
                <p class="is-size-5">
                    <span class="icon-text has-text-primary">
                        <span class="icon">
                            <i class="fa fa-linkedin"></i>
                        </span>
                        <span>
                            <a class="highlight-link" target="_blank"
                                href="https://in.linkedin.com/in/muthukumaran-m">@muthukumaran-m</a>
                        </span>
                    </span>
                </p>

                <p class="is-size-5">
                    <span class="icon-text has-text-primary">
                        <span class="icon">
                            <i class="fa fa-rss"></i>
                        </span>
                        <span>
                            <a class="highlight-link" target="_blank" target="_blank"
                                [attr.href]="post ? post.url : ''">View on Blogger</a>
                        </span>
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>