<div id="home" class="">
    <div class="section">
        <div class="columns" id="about">
            <div class="column">
                <div class="section has-text-white">
                    <h1 class="title is-1 mt-3">Hi there,</h1>
                    <h2 class="title is-2 mt-3">I am Muthukumaran Muthiah.</h2>

                    <div class="mt-3 home-content">
                        <div class="">
                            Web developer with more than 2.4 years of well-rounded experience with a degree in the field
                            of
                            Mechanical Engineering,
                            extensive knowledge of modern Web techniques. Looking for an opportunity to work and
                            upgrade,
                            as well as being involved in an organization that believes in gaining a competitive edge and
                            giving
                            back to the community.
                        </div>
                    </div>
                </div>
            </div>
            <div class="column bg-home is-hidden-mobile">

            </div>
        </div>
    </div>

    <div id="services" class="section">
        <h1 class="subtitle is-1">
            Service spectrum
        </h1>

        <div class="columns list has-text-centered">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="/assets/application.svg" alt="Webapp">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="title is-3">Web Apps</h1>
                            I’ll unite products and users, design and experiences.
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="/assets/ux.svg" alt="Webapp">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="title is-3">Front End Development</h1>
                            I’ll help you to bridge the gap between design and development.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="technologies" class="section has-background-black">
        <div class="columns has-text-white">
            <div class="column is-4">
                <h1 class="subtitle is-1 has-text-white">
                    Technologies
                </h1>
            </div>
            <div class="column is-8">
                <div class="is-multiline columns">
                    <div class="column is-6">
                        <h2 class="subtitle is-4 has-text-white">
                            PHP / Laravel
                        </h2>
                        <div class="content has-text-grey">
                            There’s no style over substance here. I bring together form and the function to create
                            something that looks good and performs brilliantly. Simple.
                        </div>
                    </div>
                    <div class="column is-6">
                        <h2 class="subtitle is-4 has-text-white">
                            Vue.js
                        </h2>
                        <div class="content has-text-grey">
                            I can combine Vue with any backend technology, but I am much good with Laravel and Vue.js.
                        </div>
                    </div>
                </div>
                <div class="is-multiline columns">
                    <div class="column is-6">
                        <h2 class="subtitle is-4 has-text-white">
                            Angular
                        </h2>
                        <div class="content has-text-grey">
                            Always adapt with the trend needs some time. Once we adapt for it It will give back the time
                            we spent for it.
                            I can write quick, scalable and simple code.
                        </div>
                    </div>
                    <div class="column is-6">
                        <h2 class="subtitle is-4 has-text-white">
                            HTML / CSS
                        </h2>
                        <div class="content has-text-grey">
                            There is no web without HTML and CSS. But the way it looks is matter at all the time.
                            I can make it looks and feels better for everybody with any device.
                        </div>
                    </div>
                </div>
                <div class="is-multiline columns">
                    <div class="column is-6">
                        <h2 class="subtitle is-4 has-text-white">
                            Javascript / Jquery
                        </h2>
                        <div class="content has-text-grey">
                            Still we need to catch some events to do a great thing with it. I am quite good with it.
                        </div>
                    </div>
                    <div class="column is-6">
                        <h2 class="subtitle is-4 has-text-white">
                            MySQL / SQL / mongoDB
                        </h2>
                        <div class="content has-text-grey">
                            We are all always need a desk to keep our data. So I can make those desks with SQL / MySQL /
                            MongoDB
                            without depending on any woods.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="columns is-centered has-text-centered section">
            <div class="column is-half">
                <div class="section">
                    <h1 class="title is-1">
                        Ready to get started?
                    </h1>
                    <h1 class="subtitle-is-1">
                        You know about me,let's talk about you.
                    </h1>

                </div>
                <div class="">
                    <a routerLink="/work" class="button is-medium is-rounded has-background-black has-text-white">Check
                        out my work</a>
                    <a routerLink="/contact"
                        class="button is-medium is-rounded has-background-black has-text-white">Shoot me a message</a>
                </div>
            </div>
        </div>
    </div>
</div>