.home-content {
    font-size: 1.625rem;
}

.bg-home {
    background-image: url("/assets/poster.jpg");
    background-position-y: bottom;
}

#home #about {
    background-color: #a9afb5;
}

#services .list {
    padding: 5%;
}
