<section class="">
    <div class="header section">
        <h1 class="title is-1">Sculpted solutions</h1>
        <a class="scroll-button" href="/work#projects">Take me to the projects</a>
    </div>

    <div class="section">
        <div class="columns">
            <div class="column">
                <h2 class="title is-2">
                    Clients
                </h2>
                <div class="content">
                    Great ideas aren’t industry specific. I can work with clients of all scopes and sectors to create
                    better
                    experiences through web. Whether an adventurous startup or established global presence, the same
                    level of detail and quality will deliver.
                </div>
            </div>
            <div class="column">
                <h2 class="subtitle is-2">
                    Industries
                </h2>
                <div class="columns is-multiline">
                    <div class="column is-6">
                        <span class="icon-text">
                            <span class="icon has-text-info">
                                <i class="fa fa-cubes"></i>
                            </span>
                            <span>BPM</span>
                        </span>
                    </div>

                    <div class="column is-6">
                        <span class="icon-text">
                            <span class="icon has-text-info">
                                <i class="fa fa-users"></i>
                            </span>
                            <span>CRM</span>
                        </span>
                    </div>

                    <div class="column is-6">
                        <span class="icon-text">
                            <span class="icon has-text-info">
                                <i class="fa fa-briefcase"></i>
                            </span>
                            <span>eCommerce</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="projects">
        <h2 class="title is-2">
            Projects
        </h2>
        <div class="timeline is-centered">
            <header class="timeline-header">
                <span class="tag is-medium is-primary">2019</span>
            </header>
            <div class="timeline-item is-success">
                <div class="timeline-marker is-success"></div>
                <div class="timeline-content">
                    <p class="heading">February</p>
                    <p class="subtitle is-5">GnGn-API</p>
                    <p>An API which accepts data from the user and save it in <a target="_blank"
                            href="https://www.kintone.com/">Kintone</a> data centre.</p>
                </div>
            </div>
            <div class="timeline-item is-success">
                <div class="timeline-marker is-success"></div>
                <div class="timeline-content">
                    <p class="heading">June</p>
                    <p class="subtitle is-5">Bahamut</p>
                    <p>A CRM tool which created for the client who is already using salesforce and wants to use their
                        own CRM for their business.</p>
                </div>
            </div>
            <header class="timeline-header">
                <span class="tag is-primary">2020</span>
            </header>
            <div class="timeline-item is-primary">
                <div class="timeline-marker is-success"></div>
                <div class="timeline-content">
                    <p class="heading">January</p>
                    <p class="subtitle is-5">Ranabase</p>
                    <p>A BPM tool using JGraph library for maintaning business flow diagrams.</p>
                </div>
            </div>
            <header class="timeline-header">
                <span class="tag is-primary">2021</span>
            </header>
            <div class="timeline-item is-success">
                <div class="timeline-marker is-success"></div>
                <div class="timeline-content">
                    <p class="heading">January</p>
                    <p class="subtitle is-5">Palmo</p>
                    <p>A mobile food ordering app inside the restaurants to minimize the human interaction between the
                        staffs and customers during pandemic (Covid-19)</p>
                </div>
            </div>
            <div class="timeline-item is-success">
                <div class="timeline-marker is-success"></div>
                <div class="timeline-content">
                    <p class="heading">March</p>
                    <p class="subtitle is-5">Qedtek corporate website</p>
                    <p>A corporate website for the company <a target="_blank" href="https://www.qedtek.com/">Qedtek</a>.
                    </p>
                </div>
            </div>

            <header class="timeline-header">
                <span class="tag is-primary">Now</span>
            </header>
        </div>

    </div>

    <div class="has-background-black has-text-white">
        <div class="columns is-multiline is-centered has-text-centered section" id="numbers">
            <div class="column">
                <span class="is-size-1">2.4</span>
                <p class="is-size-2">Years of experience in development</p>
            </div>
            <div class="column">
                <span class="is-size-1">4 (1)</span>
                <p class="is-size-2">Projects launched</p>
            </div>
        </div>
    </div>

    <div class="section" id="capabilities">
        <h2 class="title is-2">
            Capabilities
        </h2>
        <div class="columns is-multiline">
            <div class="column">
                <h3 class="subtitle is-4 has-text-link">
                    Development
                </h3>
                <div class="container">
                    <ul>
                        <li class="title is-6">Front-End (HTML, CSS, Javascript)</li>
                        <li class="title is-6">Front-End Frameworks (Angular and Vue)</li>
                        <li class="title is-6">Back-End (PHP,Node)</li>
                        <li class="title is-6">Back-End Frameworks (Laravel)</li>
                        <li class="title is-6">Database (MySQL, SQL and MongoDB)</li>
                        <li class="title is-6">Design System Frameworks (Bulma and Bootstrap)</li>
                        <li class="title is-6">Version management (Bitbucket and Git)</li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <h3 class="subtitle is-4 has-text-link">
                    Strategy
                </h3>
                <div class="container">
                    <ul>
                        <li class="title is-6">Creative Research</li>
                        <li class="title is-6">Agile</li>
                        <li class="title is-6">MVC</li>
                        <li class="title is-6">RMVC (MVC with repository pattern)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="has-background-grey has-text-white">
        <div class="section">
            <div class="columns is-centered has-text-centered section">
                <div class="column is-half">
                    <div class="section">
                        <h1 class="title is-1 has-text-white">
                            Like my work?
                        </h1>
                        <h1 class="subtitle-is-1">
                            Let’s talk about your project and how I can help you.
                        </h1>

                    </div>
                    <div class="">
                        <a href="" class="button is-medium is-rounded has-background-black has-text-white">Shoot me a
                            message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>