<div class="">
    <div class="header section">
        <h1 class="title is-1">Sculpted solutions</h1>
        <a class="scroll-button" (click)="scroll(projects)">Take me to the projects</a>
    </div>

    <div class="section">
        <div class="columns">
            <div class="column">
                <h2 class="title is-2">
                    Clients
                </h2>
                <div class="content">
                    Great ideas aren’t industry specific. I can work with clients of all scopes and sectors to create
                    better
                    experiences through web. Whether an adventurous startup or established global presence, the same
                    level of detail and quality will deliver.
                </div>
            </div>
            <div class="column">
                <h2 class="subtitle is-2">
                    Industries
                </h2>
                <div class="columns is-multiline">
                    <div class="column is-6">
                        <span class="icon-text">
                            <span class="icon has-text-info">
                                <i class="fa fa-cubes"></i>
                            </span>
                            <span>BPM</span>
                        </span>
                    </div>

                    <div class="column is-6">
                        <span class="icon-text">
                            <span class="icon has-text-info">
                                <i class="fa fa-users"></i>
                            </span>
                            <span>CRM</span>
                        </span>
                    </div>

                    <div class="column is-6">
                        <span class="icon-text">
                            <span class="icon has-text-info">
                                <i class="fa fa-briefcase"></i>
                            </span>
                            <span>eCommerce</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="projects" #projects>
        <h2 class="title is-2">
            Projects
        </h2>
        <!-- timeline goes her -->
        <!-- <div class="tabs">
            <ul>
                <li >Professional</li>
                <li >Hobbies</li>
            </ul>
        </div> -->
        <div class="tabs is-centered">
            <ul>
              <li routerLink="/work/professional" routerLinkActive="is-active"><a routerLink="/work/professional" routerLinkActive="is-active">Professional</a></li>
              <li routerLink="/work/hobby" routerLinkActive="is-active"><a routerLink="/work/hobby" routerLinkActive="is-active">Hobby</a></li>
            </ul>
          </div>
        <router-outlet></router-outlet>
    </div>

    <div class="has-background-black has-text-white section">
        <div class="columns is-multiline is-centered has-text-centered section" id="numbers">
            <div class="column">
                <span class="is-size-1">{{yearsOfExperience}}</span>
                <p class="is-size-2">Years of experience in development</p>
            </div>
            <div class="column">
                <span class="is-size-1"> 9 (1)</span>
                <p class="is-size-2">Projects launched</p>
            </div>
        </div>
    </div>

    <div class="section" id="capabilities">
        <h2 class="title is-2">
            Capabilities
        </h2>
        <div class="columns is-multiline">
            <div class="column">
                <h3 class="subtitle is-4 has-text-link">
                    Development
                </h3>
                <div class="container">
                    <ul>
                        <li class="title is-6">Front-End (HTML, CSS, Javascript)</li>
                        <li class="title is-6">Front-End Frameworks (Angular and Vue)</li>
                        <li class="title is-6">Back-End (PHP,Node)</li>
                        <li class="title is-6">Back-End Frameworks (Laravel)</li>
                        <li class="title is-6">Database (MySQL, SQL and MongoDB)</li>
                        <li class="title is-6">Design System Frameworks (Bulma and Bootstrap)</li>
                        <li class="title is-6">Version management (Bitbucket and Git)</li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <h3 class="subtitle is-4 has-text-link">
                    Strategy
                </h3>
                <div class="container">
                    <ul>
                        <li class="title is-6">Creative Research</li>
                        <li class="title is-6">Agile</li>
                        <li class="title is-6">MVC</li>
                        <li class="title is-6">RMVC (MVC with repository pattern)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="has-background-grey has-text-white">
        <div class="section">
            <div class="columns is-centered has-text-centered section">
                <div class="column is-half">
                    <div class="section">
                        <h1 class="title is-1 has-text-white">
                            Like my work?
                        </h1>
                        <h1 class="subtitle-is-1">
                            Let’s talk about your project and how I can help you.
                        </h1>

                    </div>
                    <div class="">
                        <a routerLink="/contact"
                            class="button is-medium is-rounded has-background-black has-text-white">Shoot me a
                            message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
