<div class="timeline is-centered">
    <header class="timeline-header">
        <span class="tag is-medium is-primary">2019</span>
    </header>
    <div class="timeline-item is-success">
        <div class="timeline-marker is-success"></div>
        <div class="timeline-content">
            <p class="heading">December</p>
            <p class="subtitle is-5">Superheroes-API-driven web app</p>
            <p>A <a href="https://muthukumaran-m.github.io/super-heroes/" target="_blank" rel="noopener noreferrer">webpage</a> simply showing the power stats of super heroes <a target="_blank"
                    href="https://superheroapi.com/">Superhero API</a> data centre. Built by Vue.js</p>
        </div>
    </div>
    <div class="timeline-item is-success">
        <div class="timeline-marker is-success"></div>
        <div class="timeline-content">
            <p class="heading">December</p>
            <p class="subtitle is-5">Super Hero - App Documentation</p>
            <p>A whole implementation <a href="https://sites.google.com/view/superhero-mukun/home" target="_blank" rel="noopener noreferrer">document</a> for Super heroes app. Built by Google sites</p>
        </div>
    </div>
    <header class="timeline-header">
        <span class="tag is-primary">2020</span>
    </header>
    <div class="timeline-item is-success">
        <div class="timeline-marker is-success"></div>
        <div class="timeline-content">
            <p class="heading">January</p>
            <p class="subtitle is-5">Chickmangalur Trip Story</p>
            <p>I went with my friends to a wonderful pace called Chickmangalur in Karnataka. I love that place and made a <a href="https://muthukumaran-m.github.io/chickmangalur-trip-story/" target="_blank" rel="noopener noreferrer">poetic page</a> for it.</p>
        </div>
    </div>
    <div class="timeline-item is-primary">
        <div class="timeline-marker is-success"></div>
        <div class="timeline-content">
            <p class="heading">July</p>
            <p class="subtitle is-5">LibSys</p>
            <p>A simple UI template for <a href="https://muthukumaran-m.github.io/libsys/" target="_blank" rel="noopener noreferrer">library management system</a>. Built by Vue.js</p>
        </div>
    </div>
    <header class="timeline-header">
        <span class="tag is-primary">2021</span>
    </header>
    <div class="timeline-item is-success">
        <div class="timeline-marker is-success"></div>
        <div class="timeline-content">
            <p class="heading">March</p>
            <p class="subtitle is-5">Mukun portfolio</p>
            <p>A <a href="https://muthukumaran-m.github.io/mukun-folio-angular/" target="_blank" rel="noopener noreferrer">portfolio page</a> using Angular and some reactive particles to play with it. </p>
        </div>
    </div>

    <header class="timeline-header">
        <span class="tag is-primary">Now</span>
    </header>
</div>